body{
    background-color: #f0f0f0;
    /*background-color: lightgrey;*/
}
#dade{
    /*border: 1px solid red;*/
    width: 50%;
    margin: auto;
}
#tou{
    /*border: 1px solid black;*/
    width: 70%;
    height: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;

}
#zhengwen{
    background-color: #fcfcfc;
    width: 100%;
    /*border: 1px solid green;*/
    /*height: 50px;*/
}
#shijuan1{
    width: 100%;
}